@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harmony Sans';
  src: url('/fonts/HarmonySans_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/fonts/HarmonySans_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body, html, #app {
  @apply m-0 p-0 overflow-hidden min-w-[300px];
}

* {
  font-family: 'Harmony Sans', sans-serif;
}

.menu-item {
  @apply text-muted-foreground transition-colors hover:text-foreground cursor-pointer flex items-center;
}

.toolbar {
  @apply flex items-center gap-2 sm:gap-2 drag-disabled;
}
.toolbar button {
  @apply w-9 h-9;
}

.pomo-ctl-btn {
  @apply w-20 h-20 mx-4;
}


.drag-enabled {
  -webkit-app-region: drag;
}
.drag-disabled {
  -webkit-app-region: no-drag;
}

.win-ctl-btn {
  @apply w-12 sm:w-16 h-full flex justify-center items-center cursor-pointer;
  -webkit-app-region: no-drag;
}
.win-ctl-btn:hover {
  @apply bg-gray-200;
}
.win-ctl-btn div {
  @apply w-4 h-4 border-2 rounded-full cursor-pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent; /* 轨道颜色 */
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  margin-top: 5px;
  background: #888; /* 滑块颜色 */
  border-radius: 4px; /* 滑块圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滑块悬停颜色 */
}
